.items,
.flex-box,
.grid {
    height: 320px;
    width: 220px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    place-content: center;
    display: inline-grid;
}

h1 {
    display: inline;
    color: grey;
    padding: 80px;
}

body {
    margin: 80px;
    margin-left: 15%;
    padding-top: 50px;

}

.items {
    border: 4px solid darkslateblue;
    margin-left: 30px;
    margin-top: 30px;
}

.flex-box {
    border: 4px solid orangered;
    margin-left: 30px;
    margin-top: 30px;

}

.grid {
    border: 4px solid darkslateblue;
    color: white;
    text-align: center;
    margin-left: 30px;
    transform: translate(0,-37px );
}

.item-1 {
    width: auto;
    height: 50px;
    background-color: darkslateblue;
    grid-column: 1/3;
}

.item-2 {
    width: 100px;
    height: auto;
    background-color: darkslateblue;
    grid-row: 2/4;
}

.item-3 {
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
}

.item-4 {
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
}

.item-5 {
    width: auto;
    height: 80px;
    background-color: darkslateblue;
    grid-column: 1/3;

}

.item-6 {
    width: auto;
    height: 50px;
    background-color: darkslateblue;
    grid-column: 1/3;
}


.one-1 {
    width: auto;
    height: 50px;
    background-color: orangered;
    grid-column: 1/3;
}

.two-2 {
    width: 100px;
    height: auto;
    background-color: orangered;
    grid-row: 2/4;
}

.three-3 {
    width: 100px;
    height: 50px;
    background-color: orangered;
}

.four-4 {
    width: 100px;
    height: 50px;
    background-color: orangered;
}

.five-5 {
    width: auto;
    height: 80px;
    background-color: orangered;
    grid-column: 1/3;

}

.six-6 {
    width: auto;
    height: 50px;
    background-color: orangered;
    grid-column: 1/3;
}


.one {
    width: auto;
    height: 50px;
    background-color: darkslateblue;
    grid-column: 1/3;
}

.two {
    width: 100px;
    height: auto;
    background-color: darkslateblue;
    grid-row: 2/4;
}

.three {
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
}

.four {
    width: 100px;
    height: 50px;
    background-color: darkslateblue;
}

.five {
    width: auto;
    height: 80px;
    background-color: darkslateblue;
    grid-column: 1/3;

}

.six {
    width: auto;
    height: 50px;
    background-color: darkslateblue;
    grid-column: 1/3;
}